.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-right: 140px;
  margin-left: 140px;
}

.grid {
  width: 100%;
  height: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #eee;
}

.block.red {
  background-color: #cf000f;
}

.block.yellow {
  background-color: #f0ff00;
}

.block.blue {
  background-color: #1f3a93;
}

.block.black {
  background-color: #2e3131;
}

.body {
  background-color: #2e3131;
}

@media (max-width: 991px) {
  .container {
    margin-right: 88px;
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .container {
    overflow: visible;
    margin-right: 40px;
    margin-left: 40px;
  }
  .grid {
    overflow: visible;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .block.black {
    display: none;
  }
}

@media (max-width: 479px) {
  .container {
    overflow: hidden;
    margin-right: 16px;
    margin-left: 16px;
  }
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#w-node-4132f67b8dcb-b4ae196f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-4132f67b8dcb-b4ae196f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-4132f67b8dcb-b4ae196f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
}

#w-node-c51d34de36a5-b4ae196f {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-c51d34de36a5-b4ae196f {
    -ms-grid-column: 7;
    grid-column-start: 7;
    -ms-grid-column-span: 1;
    grid-column-end: 8;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-7568098c8cb7-b4ae196f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d697c114664f-b4ae196f {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 479px) {
  #w-node-d697c114664f-b4ae196f {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-062d06a259c1-b4ae196f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 4;
  grid-column-end: 7;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 3;
  grid-row-end: 5;
}

@media screen and (max-width: 991px) {
  #w-node-062d06a259c1-b4ae196f {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-062d06a259c1-b4ae196f {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 4;
    grid-row-end: 6;
  }
}

#w-node-2183d6c084ad-b4ae196f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-2183d6c084ad-b4ae196f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-2183d6c084ad-b4ae196f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-3a8f010e57a1-b4ae196f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 991px) {
  #w-node-3a8f010e57a1-b4ae196f {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-3a8f010e57a1-b4ae196f {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 4;
    grid-row-end: 5;
  }
}

#w-node-07808ea1a245-b4ae196f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
}

@media screen and (max-width: 991px) {
  #w-node-07808ea1a245-b4ae196f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 767px) {
  #w-node-07808ea1a245-b4ae196f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 5;
  }
}

#w-node-0a0d74e5ce53-b4ae196f {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 1;
  grid-column-end: 8;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-0a0d74e5ce53-b4ae196f {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 3;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-0a0d74e5ce53-b4ae196f {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 3;
    grid-column-end: 7;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 4;
    grid-row-end: 6;
  }
}

#w-node-62d910724f54-b4ae196f {
  -ms-grid-column: 8;
  grid-column-start: 8;
  -ms-grid-column-span: 1;
  grid-column-end: 9;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 767px) {
  #w-node-62d910724f54-b4ae196f {
    -ms-grid-column: 7;
    grid-column-start: 7;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-8e6b18e0c524-b4ae196f {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
}

@media screen and (max-width: 767px) {
  #w-node-8e6b18e0c524-b4ae196f {
    -ms-grid-column: 7;
    grid-column-start: 7;
    -ms-grid-column-span: 1;
    grid-column-end: 8;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 2;
    grid-row-end: 5;
  }
}

#w-node-145f94033b29-b4ae196f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

@media screen and (max-width: 991px) {
  #w-node-145f94033b29-b4ae196f {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 767px) {
  #w-node-145f94033b29-b4ae196f {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
  }
}

@media screen and (max-width: 479px) {
  #w-node-145f94033b29-b4ae196f {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
  }
}

#w-node-bcc9e9bf37ef-b4ae196f {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 2;
  grid-column-end: 7;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-639d0d4e7b74-b4ae196f {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 2;
  grid-column-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 2;
  grid-row-end: 8;
}

@media screen and (max-width: 767px) {
  #w-node-639d0d4e7b74-b4ae196f {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
}

#w-node-da438349923e-b4ae196f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

@media screen and (max-width: 767px) {
  #w-node-da438349923e-b4ae196f {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
  }
}

#w-node-43dfc927057e-b4ae196f {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 2;
  grid-column-end: 7;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

@media screen and (max-width: 767px) {
  #w-node-43dfc927057e-b4ae196f {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-column-span: 2;
    grid-column-end: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
  }
}

@media screen and (max-width: 479px) {
  #w-node-43dfc927057e-b4ae196f {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 2;
    grid-column-end: 6;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 3;
    grid-row-end: 9;
  }
}

#w-node-78cb12a02862-b4ae196f {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 2;
  grid-row-end: 7;
}

@media screen and (max-width: 767px) {
  #w-node-78cb12a02862-b4ae196f {
    -ms-grid-column: 7;
    grid-column-start: 7;
    -ms-grid-column-span: 1;
    grid-column-end: 8;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 2;
    grid-row-end: 7;
  }
}

#w-node-59be0eabde79-b4ae196f {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 2;
  grid-column-end: 9;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 2;
  grid-row-end: 9;
}

@media screen and (max-width: 991px) {
  #w-node-59be0eabde79-b4ae196f {
    -ms-grid-column: 7;
    grid-column-start: 7;
    -ms-grid-column-span: 2;
    grid-column-end: 9;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 4;
    grid-row-end: 9;
  }
}

@media screen and (max-width: 767px) {
  #w-node-59be0eabde79-b4ae196f {
    -ms-grid-column: 6;
    grid-column-start: 6;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-column-span: 2;
    grid-column-end: 8;
    -ms-grid-row-span: 2;
    grid-row-end: 9;
  }
}

#w-node-cf8f2e2ff6d4-b4ae196f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 2;
  grid-row-end: 7;
}

@media screen and (max-width: 991px) {
  #w-node-cf8f2e2ff6d4-b4ae196f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 2;
    grid-row-end: 7;
  }
}

@media screen and (max-width: 479px) {
  #w-node-cf8f2e2ff6d4-b4ae196f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
}

#w-node-bcf77a830ef5-b4ae196f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-b366cbb39ad4-b4ae196f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-24de1165d58c-b4ae196f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}